.button {
    width: 100px;
    height: 40px;
    background-color: #b3382c;
    border: none;
    border-radius: 7px;
    margin-right: 30px;
    transition: background-color 0.2s ease-in;
    
  }
  
  .button:hover {
    background-color: #eb3c2b;
  }