  .close-btn{
      cursor: pointer;
  }
  .main-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shadow {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 250px;
    background-color: #e74c3c;
    border-radius: 10px;
    z-index: 100;
    font-size: 16px;
    color: #fff;
  }
  .modal-header {
    margin-bottom: 41px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: #fff;
    background-color: #d44637;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .modal-b {
    margin-bottom: 68px;
  }