.header {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 5px 7px -6px rgba(0, 0, 0, 0.75);
}
.nav-link {
    font-size: 30px;
    color: #000;
    margin-right: 30px;
}
.active-link {
    background-color: #eee;
}
