.card-container {
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 235px;
    border: 1px solid #696969;
    border-radius: 8px;
    box-shadow: 2px -1px 5px 1px rgba(0, 0, 0, 0.35);
    background-color: #eee;
}
.card-picture {
    margin-bottom: 20px;
    height: 235px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.title-card {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
.describe {
    font-size: 16px;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
}
.footer {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-card {
    font-size: 18px;
    font-weight: 800;
    color: #000;
}
.card-icon {
    margin-bottom: 10px;
}
.icon-star{
    display: inline-block;
    padding-left: 10px;
}
.favourite-on {
    color: #FFA500;
}
.favourite-off {
    color: #696969;
}
.add-to-cart{
    height: 20px;
    border: none;
    background-color: #808080;
    border-radius: 5px;
}